.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-bottom: 2rem;
  background-color: bisque;
}

.navtitle{
  font-size: 2rem;
  font-weight: bold;
}
.navitem{
  margin: 0.5rem;
  font-size: 1.2rem;
}

.homepage{
  margin-left: 0.5rem;
  font-size: 1.5rem ;
}

.loginpage{
  margin-left: 0.5rem;
}

